@import url('https://fonts.googleapis.com/css?family=Lato:400,600,900');

/*  Hero HEADER */
.hero__header {
    display: -webkit-box;
    display: -ms-flexbox;
    height: 500px;
    background-image: url(../img/header-plain.png);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__header .hero__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #cc9933;
    text-transform: uppercase;
}

.hero__header p {
    font-size: 19px;
    line-height: 2;
    margin: 20px 0px 40px 0px;
    color: #663333;
}

.hero__header button {
    background-color: #663333;
    color: #ffffff;
    border: none;
    padding: 10px 20px 10px 20px;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif !important;
}

a,
a:hover,
a:active,
a:visited {
    color: inherit;
    font-size: inherit;
}

/*  COUNT SECTION*/
.count__section {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #663333;
}

.count__section p {
    font-size: 19px;
    line-height: 2;
    font-weight: 500;
    color: #663333;
}

@media (max-width: 770px) {
    .count__section .count {
        padding-bottom: 50px;
    }
}

/* =============ABOUT SECTION ======  */
.about__section {
    padding-top: 50px;
}

.about__section a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

.about__section a:hover {
    color: #663333;
}

.about__section .about__us {
    padding-top: 50px;
    color: #663333;
}

.about__section .about__us p {
    font-size: 19px;
    line-height: 2;
    font-weight: 500;
    color: #663333;
}

.about__section .source {
    padding-top: 50px;
}

/* ============================ CONTACT SECTION ==========================  */
.contact__section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact__section a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

.contact__section a:hover {
    color: #663333;
}

.contact__section .contact_us {
    padding-top: 60px;
    color: #663333;
}

.contact__section .contact img {
    margin-bottom: 20px;
}

.contact__section .contact span {
    font-size: 22px;
}

.contact__section .writeus h1 {
    float: right;
}

.login {
    margin: auto;
}

.login h1 {
    float: none !important;
    text-align: center;
}

.ref {
    color: #000;
}

.ref a {
    color: #663333;
    font-size: inherit;
}

.contact__section .writeus label {
    font-size: 19px;
    margin-bottom: 40px;
}

.contact__section .writeus button {
    background-color: #663333;
    color: white;
    border: none;
    padding: 10px 40px 10px 40px;
    float: right;
}

.contact__section .writeus input[type='text'] {
    width: 500px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.contact__section .writeus input[type='mail'] {
    width: 500px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.contact__section .writeus input[type='location'] {
    width: 500px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.contact__section .writeus input[type='number'] {
    width: 500px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

/*  ================================== PODUCT SECTION ================================ */

.icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #fff2f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__topic a {
    color: #663333;
    text-decoration: none;
}

.product__topic a:hover {
    color: black;
}

.product__topic .monthly__picks__box {
    margin-top: 100px;
}

.product__topic label {
    margin-top: 15rem;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 460px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.product__topic .card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

.product__topic .card .front {
    padding: 10px;
}

.product__topic .card button {
    background-color: #663333;
    color: #ffffff;
    border: none;
    padding: 10px 20px 10px 20px;
}

.product__topic .card .more {
    font-weight: bold;
    color: #cc9933;
}

.product__topic .card p {
    font-weight: bold;
}

.product__topic .card div {
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
}

.product__topic .card .back {
    position: absolute;
    background: #ffffff;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
    box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

.product__topic label:hover .card {
    -webkit-box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
    box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

.product__topic input {
    display: none;
}

.product__topic :checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.product__topic label:hover :checked + .card {
    -webkit-box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

@media (max-width: 560px) {
    .product__topic .header h4 {
        font-size: 16px;
        font-weight: bold;
    }
}

/*  =======================================================================
============================================ PAGE 3 HTML ========================================
=======================
============================================================ */
.page3 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.page3 a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

.page3 a:hover {
    color: #663333;
}

.page3 .products {
    margin-top: 20px;
}

.page3 .products .product__img {
    height: 400px;
    width: 430px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.page3 .products .product__img:hover {
    -webkit-box-shadow: 3px 2px 10px 1px gray;
    box-shadow: 3px 2px 10px 1px gray;
}

.page3 p {
    font-size: 19px;
    line-height: 2;
    font-weight: 500;
    color: #663333;
}

.page3 button {
    margin-top: 10px;
    padding: 15px;
    border: none;
    outline: none;
}

/*  =======================================================================
============================================ PAGE 4 HTML ========================================
=======================
============================================================ */
.page4 .product__topic {
    margin-bottom: 10px;
}

.page4 h2 {
    color: #663333;
}

.page4 .instruction__box {
    position: relative;
}

.page4 .instruction__box .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 350px;
    width: 270px;
    -webkit-box-shadow: 2px 3px 10px 3px gray;
    box-shadow: 2px 3px 10px 3px gray;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
}

.page4 .instruction__box .box .one,
.page4 .instruction__box .box .two,
.page4 .instruction__box .box .three,
.page4 .instruction__box .box .four {
    font-size: 3em;
    font-weight: bold;
    color: #663333;
}

.page4 .instruction__box .box p {
    font-size: 19px;
    line-height: 2;
    font-weight: 500;
    color: #663333;
    line-height: 1;
    text-align: center;
    word-spacing: 2px;
}

.page4 .customer__review {
    margin-top: 50px;
}

.page4 .customer__review p {
    font-size: 50px;
    color: #663333;
}

@media (max-width: 1186px) {
    .instruction__box .box {
        height: 350px;
        width: 180px;
    }
    .instruction__box h2 {
        text-align: center;
    }
}

/*  =======================================================================
============================================ PAGE 5 HTML ========================================
=======================
============================================================ */
.page5 {
    margin-top: 100px;
}

.page5 p {
    font-size: 19px;
    line-height: 2;
    font-weight: 500;
    color: #663333;
}

.page5 .header a {
    color: #663333;
    font-size: 22px;
    text-decoration: none;
}

.page5 .content {
    margin-top: 50px;
}

.page5 ul li {
    color: #663333;
    font-size: 18px;
    font-weight: 500;
}

.page5 .box {
    -webkit-box-shadow: 2px 3px 10px 3px gray;
    box-shadow: 2px 3px 10px 3px gray;
    padding: 20px;
}

.page5 .box span {
    font-weight: bold;
    font-size: 21px;
}

/*  =======================================================================
============================================ PAGE 6 HTML ========================================
=======================
============================================================ */
.page6 {
    margin-top: 100px;
}

.page6 a {
    color: #663333;
    text-decoration: none;
}

.page6 a:hover {
    color: black;
}

.page6 .teabags {
    color: #663333;
}

.page6 .content {
    margin-top: 50px;
}

.page6 .box {
    height: 210px;
    width: 260px;
    -webkit-box-shadow: 2px 3px 10px 3px gray;
    box-shadow: 2px 3px 10px 3px gray;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
}

.page6 p {
    font-size: 19px;
    line-height: 2;
    font-weight: 500;
    color: #663333;
    font-size: 16px;
}

/*  =======================================================================
============================================ PAGE 7 HTML ========================================
=======================
============================================================ */
.page7 {
    margin-top: 100px;
}

.page7 a {
    color: #663333;
    text-decoration: none;
}

.page7 a:hover {
    color: black;
}

.page7 p {
    font-size: 19px;
    line-height: 2;
    font-weight: 500;
    color: #663333;
    font-size: 16px;
}

.page7 .content {
    margin-top: 50px;
}

.page7 .box {
    height: 150px;
    width: 160px;
    -webkit-box-shadow: 2px 3px 10px 3px gray;
    box-shadow: 2px 3px 10px 3px gray;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
}

.page7 .box2 {
    -webkit-box-shadow: 2px 3px 10px 3px gray;
    box-shadow: 2px 3px 10px 3px gray;
    padding: 20px;
}

.page7 .box2 h2 {
    color: #663333;
}

.page7 .box2 ul li {
    color: #663333;
    font-weight: 500;
}

* {
    padding: 0;
    margin: 0;
}

.top__bar {
    background-color: #649e3b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-family: sans-serif;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.top__bar .phone {
    position: relative;
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    transform: rotate(-270deg);
    vertical-align: middle;
    display: inline-grid;
    margin-right: 15px;
}

.top__bar .top__user {
    color: white;
}

.top__bar .top__addtocart {
    color: white;
}

.top__paragraph {
    padding-top: 10px;
}

.navigation__bar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 50px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
    height: 100px;
}

.navigation__bar .left__nav a:nth-child(1) {
    position: relative;
    margin-right: 150px;
}

.navigation__bar .nav__center img {
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: white;
    margin-top: -50px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    border-radius: 100%;
    padding: 15px;
}

.navigation__bar .right__nav a:nth-child(2) {
    position: relative;
    margin-left: 150px;
}

.navigation__bar a {
    text-decoration: none;
    color: #649e3b;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 2px;
}

.navigation__bar a:hover {
    color: #99cc66;
}

/* ==================== TOGGLE SECTION ====================== */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    background-color: white;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: left;
    margin-top: 0px;
}

.overlay .contact {
    padding: 10px;
    background-color: whitesmoke;
}

.overlay .account {
    padding: 10px;
    background-color: whitesmoke;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: bold;
}

.overlay a:hover,
.overlay a:focus {
    color: #649e3b;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.top__contact span {
    display: none;
}

@media (max-width: 1249px) {
    .top__contact span {
        display: block;
    }
    .top__phone {
        display: none;
    }
    .left__nav {
        display: none;
    }
    .right__nav {
        display: none;
    }
}

@media (max-width: 707px) {
    .top__bar .top__paragraph {
        display: none;
    }
    .links {
        width: 100%;
    }
}
/*# sourceMappingURL=style.css.map */

.dashboard {
    padding: 40px;
}

table {
    width: 100%;
}

footer .container {
    border-top: 1px solid #e1e1e1;
    padding: 30px 0px;
}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    color: #663333;
}

.colophon {
    width: 30%;
    min-width: 300px;
    padding-left: 2rem;
}

.links {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.links .link {
    width: 33%;
    min-width: 200px;
}

.link h4 {
    margin-bottom: 15px;
}

.link li {
    list-style: none;
    margin-top: 10px;
}

.link li a,
.colophon a {
    color: #663333;
}

.blog-wrapper p {
    color: #000;
    text-align: justify;
    line-height: 1.5;
}

.blog-wrapper h1,
.blog-wrapper h2,
.blog-wrapper h3 {
    color: #663333;
}

.blog-wrapper .box img {
    width: 100%;
}
