{{ template "admin-header.html" .}}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">View Users</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active" aria-current="page">View All</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div
                    class="
                        card-header
                        py-3
                        d-flex
                        flex-row
                        align-items-center
                        justify-content-between
                    "
                >
                    <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Registered</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $i,$j := .users}}
                            <tr>
                                <td>{{$j.ID}}</td>
                                <td>{{$j.Name}}</td>
                                <td>{{$j.Email}}</td>
                                <td>{{$j.CreatedAt}}</td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-primary"
                                        ><i class="fas fa-eye"></i
                                    ></a>
                                    <a href="#" class="btn btn-sm btn-danger"
                                        ><i class="fas fa-trash"></i
                                    ></a>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->

    {{ template "admin-footer.html" .}}
</div>
