{{ template "header.html" .}}

<!-- ============================ ABOUT SECTION ============================ -->
<div class="about__section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="link">
          <a href="/">Home</a>&nbsp; > &nbsp;<a href="#">About</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container about__us">
    <div class="row">
      <div class="col-md-12">
        <h1>About us</h1><br />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla
          nisi corrupti inventore cum dicta ea neque accusamus facere repellat sapiente vitae corporis
          odit quod! Nostrum doloremque temporibus aut harum possimus
          mollitia facilis odio aliquam expedita fuga autem ab tempore ullam quod, cumque in quae porro
          totam sunt beatae molestias!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis esse fugiat odit
          laborum. Minus similique officia facere ea sapiente accusantium,
          accusamus architecto perspiciatis nisi eos laudantium quis beatae vero!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla
          nisi corrupti inventore cum dicta ea neque accusamus facere repellat sapiente vitae corporis
          odit quod! Nostrum doloremque temporibus aut harum possimus
          mollitia facilis odio aliquam expedita fuga autem ab tempore ullam quod, cumque in quae porro
          totam sunt beatae molestias!</p>


      </div>

      <div class="col-md-12 source">
        <center>
          <h1>Available on</h1><br /><br />
          <a href="#"><img src="/img/amazon.jpg" height="70px"></a>
          <a href="#"><img src="/img/insta.jpg" height="70px"></a>
          <a href="#"> <img src="/img/swiggy.png" height="90px"></a>
        </center>
      </div>
    </div>
  </div>

</div>
{{ template "footer.html" .}}