{{template "admin-header.html" .}}

<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Blogs</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">Blogs</li>
            <li class="breadcrumb-item active" aria-current="page">
                Edit Blog
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- General Element -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Edit Blog
                    </h6>
                </div>
                <div class="card-body">
                    <form method="POST" action="/blogs/edit/{{ .blog.ID }}">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Title" name="title" value="{{ .blog.Title }}"/>
                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <input type="text" class="form-control" id="author" placeholder="author" name="author" value="{{ .blog.Author }}"/>
                        </div>
                        <div class="form-group">
                            <label for="cover-image">Cover Image URL</label>
                            <input type="text" class="form-control" id="cover-image" placeholder="https://..." value="{{ .blog.Cover }}"
                                name="cover" />
                        </div>
                        <div class="form-group">
                            <label for="basic-url">Custom Blog URL</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        id="basic-addon3">https://teastore.tea/blogs/view/</span>
                                </div>
                                <input type="text" name="path" class="form-control" id="basic-url"
                                    aria-describedby="basic-addon3" value="{{ .blog.Path }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Blog Content</label>
                            <textarea class="form-control" id="editor" rows="3" name="text">{{ .blog.Text }}</textarea>
                            <script>
                                ClassicEditor
                                    .create(document.querySelector('#editor'))
                                    .catch(error => {
                                        console.error(error);
                                    });
                            </script>
                        </div>
                        <button type="submit" class="btn btn-primary mb-1">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->

    {{template "admin-footer.html" .}}