{{ template "header.html" .}}

<form action="/blogs/edit/{{.blog.ID}}" method="post">
    <input type="hidden" name="id" value="{{ .blog.ID }}">
    <input type="text" name="path" id="path" value="{{ .blog.Path }}">
    <input type="text" name="title" id="title" value="{{ .blog.Title }}">
    <input type="text" name="cover" id="cover" value="{{ .blog.Cover }}">
    <input type="text" name="author" id="author" value="{{ .blog.Author }}">
    <input type="text" name="text" id="text" value="{{ .blog.Text }}">
    <button type="submit">Add</button>
</form>

{{ template "footer.html" .}}