<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <!-- LINK CSS FILE -->
    <link rel="stylesheet" href="./css/style.css" type="text/css">

    <!-- GOOGLE FONT LINK -->
    <link rel="stylesheet" href="./img/Nexa Bold.otf">
    <link rel="stylesheet" href="./img/Nexa Light.otf">


    <!-- LINK BOOTSTRAP FILE -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- FNT-AWESOME -->
    <script src="https://kit.fontawesome.com/1b4d515a4c.js" crossorigin="anonymous"></script>

    <title>TEASORE TEA | WELCOME</title>
  </head>
  <body>
    
   <!-- ============================ NAVIGATION BAR ============================ -->
   <div class="top__bar">
     <div class="top__contact">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
     <div class="top__phone">
      <i class="fa fa-phone phone" aria-hidden="true"> &nbsp;&nbsp;&nbsp;</i>+91 1234567890
     </div>
     </div>
     <div class="top__paragraph">
      <p> We have resumed shipping pan India. Delivery may take 5-7 working days.
      </p>
     </div>

     <div class="top__logo">
      <a href="#"><i class="fa fa-user top__user" aria-hidden="true" title="Login"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="#"> <i class="fas fa-shopping-bag top__addtocart"></i></a>
     </div>
   </div>
   
   <div class="navigation__bar">
      <div class="left__nav">
        <a href="#teas">TEAS</a>
        <a href="#gifts">GIFTS</a>
      </div>

      <div class="nav__center">
        <a href="index.html"><img src="img/TESORE TEA LOGO PNG.png" height="130px" width="130px"></a>
      </div>

      <div class="right__nav">
        <a href="about.html">ABOUT</a>
        <a href="contact.html">CONTACT</a>
      </div>
    </div>


    <!-- MOBILE NAV -->
    <div class="mobile__nav">
      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <div class="contact"><h5>CONTACT</h5></div><br/>
          <a href="#">TEAS</a><hr/>
          <a href="#">GIFTS</a><hr/>
          <a href="#">ABOUT</a><hr/>
          <a href="#">CONTACT</a><br/>
          <div class="account"><h5>ACCOUNT</h5></div>
            <a href="#">LOG IN</a><hr/>
            <a href="#">SIGN UP</a><hr/>
          
        </div>
      </div>
    </div>
    <!-- END OF THE MOBILE NAV -->
    








    <!-- =============================== Hero header ==================== -->
    <div class="hero__header">
       <h2 class="hero__text">Begin your day with the finest.</h2>
    </div>




    <!-- =============================== Hero header ==================== -->
    
  
    <center>
      <div class="count__section">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12 count">
                 <h2>12 Tons</h2>
                 <p>of tea sold</p>
            </div> 
            <div class="col-md-4 col-sm-12 count">
               <h2>6 Million</h2>
              <p>cups served</p>
            </div> 
              <div class="col-md-4 col-sm-12 count">
                 <h2>60,000</h2>
                <p>happy customers</p>
              </div> 
       </div>
       </div>
      </div>

    </center>



<!-- ============================= PRODUCTS SECTION ===============================-->
<div class="product__topic">
  <div class="header">
    <center><h4><a href="#">Monthly Picks</a> &nbsp; . <a href="#">Featured Products</a> &nbsp; . <a href="#">Best Sellers</a> </h4></center>
  </div>
    
  <div class="monthly__picks__box">
    
       
    <!-- <label>
      <input type="checkbox"/>
      <div class="card">
          <div class="front">Front</div>
          <div class="back">Back</div>
      </div>
  </label> -->


  <!-- <label>
    <input type="checkbox"/>
    <div class="card">
        <div class="front">
          <img src="img/cutting pack.png" height="200px"><br/><br/>
          <h2>Tea Variety 1</h2><br/>
          <p>RS: 900</p>
          <a href="#"><button>ADD TO CARD</button></a><br/><br/>
          <p class="more">more</p>
        </div>

        <div class="back">
          <a href="#"> <button>ADD TO CARD</button>
        </div>
    </div>
</label> -->




 <div class="products__card">

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">

      <div class="box">
        <label>
          <input type="checkbox"/>
          <div class="card">
              <div class="front">
                <img src="img/cutting pack.png" height="200px"><br/><br/>
                <h2>Tea Variety 1</h2><br/>
                <p>RS: 900</p>
                <a href="#"><button>ADD TO CARD</button></a><br/><br/>
                <p class="more">more</p>
              </div>
      
              <div class="back">
                <h4>Ingredients 1:</h3>
                <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, nesciunt?</h5>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, itaque!</h5>
                <br/>
                <a href="#"><button>ADD TO CARD</button></a><br/><br/>
              </div>
          </div>
      </label>
       </div>
    

    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
 
      <div class="box">
        <label>
          <input type="checkbox"/>
          <div class="card">
              <div class="front">
                <img src="img/cutting pack.png" height="200px"><br/><br/>
                <h2>Tea Variety 2</h2><br/>
                <p>RS: 900</p>
                <a href="#"><button>ADD TO CARD</button></a><br/><br/>
                <p class="more">more</p>
              </div>
      
              <div class="back">
                <h4>Ingredients 2:</h3>
                <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, nesciunt?</h5>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, itaque!</h5>
                <br/>
                <a href="#"><button>ADD TO CARD</button></a><br/><br/>
              </div>
          </div>
      </label>
       </div>
    

    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">

      <div class="box">
        <label>
          <input type="checkbox"/>
          <div class="card">
              <div class="front">
                <img src="img/cutting pack.png" height="200px"><br/><br/>
                <h2>Tea Variety 3</h2><br/>
                <p>RS: 900</p>
                <a href="#"><button>ADD TO CARD</button></a><br/><br/>
                <p class="more">more</p>
              </div>
      
              <div class="back">
                <h4>Ingredients 3:</h3>
                <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, nesciunt?</h5>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, itaque!</h5>
                <br/>
                <a href="#"><button>ADD TO CARD</button></a><br/><br/>
              </div>
          </div>
      </label>
       </div>
    

    </div>

  </div>
</div>

 

 </div>


 
  
  </div><!-- End of the monthly picks box-->

</div>











    <!-- Optional JavaScript; choose one of the two! -->
     <script src="js/script.js">  </script>

    <!-- Option 1: Bootstrap Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper.js and Bootstrap JS
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
    -->
  </body>
</html>