{{ template "header.html" .}}

<div class="container page7">
  <div class="header">
    <center>
      <h4><a href="#">Monthly Picks</a> &nbsp; . <a href="#">Featured Products</a> &nbsp; . <a href="#">Best Sellers</a>
      </h4>
    </center>
  </div>


  <div class="container-fluid content">

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-md-4 col-sm-12 box">
            <img src="/img/TESORE TEA LOGO PNG.png" height="130px">
          </div>
          <div class="col-md-4 col-sm-12 box"> <img src="/img/TESORE TEA LOGO PNG.png" height="130px"> </div>
          <div class="col-md-4 col-sm-12 box"> <img src="/img/TESORE TEA LOGO PNG.png" height="130px"></div>
          <div class="col-md-4 col-sm-12 box"> <img src="/img/TESORE TEA LOGO PNG.png" height="130px"></div>
          <div class="col-md-4 col-sm-12 box"> <img src="/img/TESORE TEA LOGO PNG.png" height="130px"></div>
          <div class="col-md-4 col-sm-12 box"> <img src="/img/TESORE TEA LOGO PNG.png" height="130px"></div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="box2">
          <h2>Tea variety 1</h2>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolor eaque ratione unde iure dolores
            quod optio tempora totam, soluta numquam eveniet id.</p>
          <p><span>Benefits</span></p>
          <ul>
            <li>Benefits 1</li>
            <li>Benefits 2</li>
            <li>Benefits 3</li>
          </ul>
        </div>
      </div>
    </div>



    <br /><br />
    <center>
      <div class="customer__review">
        <h2>Customer Review</h2>
        <a href="">
          <P>↕ </P>
        </a>
      </div>
    </center>

  </div>

</div>

{{ template "footer.html" .}}