{{ template "header.html" .}}

<div class="container page6">
    <div class="header">
        <center>
            <h4>
                <a href="#">Monthly Picks</a> &nbsp; .
                <a href="#">Featured Products</a> &nbsp; .
                <a href="#">Best Sellers</a>
            </h4>
        </center>
    </div>
    <h4 class="teabags">For Tea Bags</h4>

    <div class="container content">
        <div class="row">
            {{ range $i,$j := .products }}
            <div class="col-lg-3 col-md-4 col-sm-12 box">
                <img src="{{ $j.Image}}" height="200px" />
                <br />
                <p>
                    {{ $j.Name }}
                </p>
                <a href="/products/view/{{ $j.Path }}"><button>View More</button></a>
            </div>
            {{ end }}
        </div>
    </div>

    <br /><br />
</div>

{{ template "footer.html" .}}
