{{ template "header.html" .}}

<div class="container page6">
    <div class="header">
        <center>
            <h4>
                <a href="#">Monthly Picks</a> &nbsp; .
                <a href="#">Featured Products</a> &nbsp; .
                <a href="#">Best Sellers</a>
            </h4>
        </center>
    </div>
    <h4 class="teabags">For Tea Bags</h4>

    <div class="container content">
        <div class="row">
            {{ range $i,$j := .products }}
            <div class="col-lg-3 col-md-4 col-sm-12 box">
                <img src="{{ $j.Image}}" style="width: 100%;" />
                <br />
                <p>
                    {{ $j.Name }}
                </p>
                <a href="/product/view/{{ $j.Path }}"><button>View More</button></a>
                <form action="/cart/add" method="POST">
                    <input type="hidden" value={{$j.ID}} name="pid">
                    <input type="hidden" value=5 name="qty">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            {{ end }}
        </div>
    </div>

    <br /><br />
</div>

{{ template "footer.html" .}}
