{{ template "header.html" .}}

<div class="container page3">
    <div class="links">
        <a href="index.html">Home</a>&nbsp; > &nbsp;<a href="#">Tea Subdivision
        </a>
        &nbsp; > &nbsp; <a href="#">{{ .productName }}</a>
    </div>

    <div class="row products">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="product">
                <img src="{{ .productImage }}" class="product__img" />
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1>{{ .productName }}</h1>
            <br />
            {{ .productDescription }}
            <br />
            {{ if .inStock }}
            <a href="#"><button>In Stock</button></a>
            {{ end }}
            {{ if not .inStock }}
            <a href="#"><button>Out of Stock</button></a>
            {{ end }}
        </div>
    </div>
</div>

{{ template "footer.html" .}}