{{ template "header.html" . }}

<!-- ============================ REGISTER SECTION ============================ -->
<div class="contact__section">
    <div class="container">
        <div class="contact__text">
            <a href="/">User</a>&nbsp; > &nbsp;<a href="#">Register</a>
        </div>
    </div>

    <div class="container contact_us">
        <div class="row">
            <div class="col-md-6 col-sm-12 writeus login">
                <h1>Register</h1>
                <br /><br /><br /><br /><br />
                <form method="POST" action="/user/register">
                    <label for="name"
                        >Name &nbsp;&nbsp;<input
                            type="text"
                            name="name"
                        /> </label
                    ><br />
                    <label for="email"
                        >Email &nbsp;&nbsp;<input
                            type="mail"
                            name="email"
                        /> </label
                    ><br />
                    <label for="password"
                        >Password &nbsp;&nbsp;<input
                            type="text"
                            name="password"
                        /> </label
                    ><br />
                    <label for="location"
                        >Address &nbsp;&nbsp;<input
                            type="text"
                            name="address"
                        /> </label
                    ><br />
                    <label for="message"
                        >Image &nbsp;&nbsp;<input
                            type="text"
                            name="image"
                        /> </label
                    ><br />
                    <br />

                    <a href="#"> <button>Create Account</button></a>
                </form>
            </div>
        </div>
    </div>
</div>

{{ template "footer.html" . }}
