{{ template "header.html" .}}

<div class="page4">
  <div class="product__topic">
    <div class="header">
      <center>
        <h4><a href="#">Monthly Picks</a> &nbsp; . <a href="#">Featured Products</a> &nbsp; . <a href="#">Best
            Sellers</a> </h4>
      </center>
    </div>
    </di>


    <div class="container-fluid">


      <div class="instruction__box">
        <h2>For Loose Leaf</h2>
        <div class="conatiner">
          <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">

              <div class="box box1">
                <div class="one">1</div>
                <img src="/img/TESORE TEA LOGO PNG.png" height="150px">
                <br />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, cupiditate!</p>
              </div>

            </div>

            <div class="col-lg-3 col-md-12 col-sm-12">

              <div class="box box1">
                <div class="two">2</div>
                <img src="/img/TESORE TEA LOGO PNG.png" height="150px">
                <br />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, cupiditate!</p>
              </div>

            </div>

            <div class="col-lg-3 col-md-12 col-sm-12">

              <div class="box box1">
                <div class="three">3</div>
                <img src="/img/TESORE TEA LOGO PNG.png" height="150px">
                <br />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, cupiditate!</p>
              </div>

            </div>

            <div class="col-lg-3 col-md-12 col-sm-12">

              <div class="box box1">
                <div class="four">4</div>
                <img src="/img/TESORE TEA LOGO PNG.png" height="150px">
                <br />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, cupiditate!</p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <center>
    <div class="customer__review">
      <h2>Customer Review</h2>
      <a href="">
        <P>↕ </P>
      </a>
    </div>
  </center>
</div>

{{ template "footer.html" .}}