{{ template "header.html" .}}

<div class="container page3">
    <div class="links">
        <a href="index.html">Home</a>&nbsp; > &nbsp;<a href="#"
            >Tea Subdivision
        </a>
        &nbsp; > &nbsp; <a href="#">Tea Variety 1</a>
    </div>

    <div class="row products">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="product">
                <img src="/img/cutting pack.png" class="product__img" />
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1>Tea Variety 1</h1>
            <br />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                veritatis consequuntur minima itaque dicta iusto, cupiditate
                laboriosam error dolore laborum?
            </p>
            <p>
                beatae repellendus deserunt consequuntur quae repudiandae
                perferendis atque!
            </p>
            <br />
            <h3>RS 299</h3>
            <h6>(MRP inclusive all tax)</h6>
            <br />
            <h4>Two Pack SIZES:</h4>
            <a href="#"><button>Option 1</button></a>
            <a href="#"><button>Option 2</button></a>
        </div>
    </div>
</div>

{{ template "footer.html" .}}
