{{ template "header.html" .}}

<div class="container page5">
  <div class="header">
    <center>
      <h4><a href="#">Monthly Picks</a> &nbsp; . <a href="#">Featured Products</a> &nbsp; . <a href="#">Best Sellers</a>
      </h4>
    </center>
  </div>

  <div class="row content">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>About Tea Variet 1</h2><br />
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores ipsum eaque, debitis ullam pariatur
        recusandae nihil consequuntur cum suscipit laboriosam? Maxime at debitis accusantium eius doloribus dolore velit
        officia consectetur!</p>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, eveniet quasi officiis ducimus cumque aut?
        </li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, eveniet quasi officiis ducimus cumque aut?
        </li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, eveniet quasi officiis ducimus cumque aut?
        </li>

      </ul>
      <br />
      <br />
      <h2>Tasting Notes</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, non iste. Doloremque dolorum magnam, ratione
        delectus magni quasi repellendus maiores!</p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="box">
        <p><span>Aroma </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, pariatur quasi sit
          soluta minima excepturi?</p><br />
        <p><span>Complements </span>Lorem ipsum dolor sit amet consectetur.</p><br />
        <p><span>Health Benefit </span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, modi?
          Voluptatum ex magni a?</p><br />
        <p><span>Coffeine Content </span> Mediuam</p><br />
        <p><span>Appearance </span>dark Brown</p>
      </div>
    </div>
  </div>
  <br /><br />
  <center>
    <div class="customer__review">
      <h2>Customer Review</h2>
      <a href="">
        <P>↕ </P>
      </a>
    </div>
  </center>

</div>

{{ template "footer.html" .}}